@using Microsoft.AspNetCore.Identity
@using AspEventGrupp.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav flex-grow-1 justify-content-end">
    @if (SignInManager.IsSignedIn(User))
    {


        @if (User.IsInRole("Admin"))
        {
            <li>
                <a class="btn btn-danger mx-2" asp-page="/Admin/ManageUser">Manage Users</a>
            </li>
        }

        @if (User.IsInRole("Organizer"))
        {
            <li>
                <a class="btn btn-success mx-2" asp-page="/Organizer/ManageEvents">Manage Events</a>
            </li>
            <li>
                <a class="btn btn-success mx-2" asp-page="/Organizer/AddEvent">Create Event</a>
            </li>
        }
        <li class="nav-item">
            <h5><a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a></h5>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit" class="btn btn-secondary mx-2">Logout</button>
            </form>
        </li>
    }
    else
    {

        <li class="nav-item mx-2">
            <a class="btn btn-primary mx-2" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
        <li class="nav-item mx-2">
            <a class="btn btn-secondary mx-2" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>

    }


</ul>
