@page
@using AspEventGrupp.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@if (SignInManager.IsSignedIn(User))
{

    <div class="container d-flex justify-content-center align-content-center">
        <div class="card" style="width: 40rem;">
            <h1 class="text-center m-2">Welcome @User.Identity.Name</h1>
            <p class="text-center m-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur cum ratione tempore nostrum
                nisi repellendus dolorem reprehenderit sequi voluptate officiis sit nemo facilis quos porro
                placeat quo dolorum, doloribus impedit.
            </p>
            <div class="container d-flex justify-content-center">
                <a class="btn btn-outline-success m-2" asp-area="" asp-page="/MyEvents">My Events</a>
                <a class="btn btn-outline-success m-2" asp-area="" asp-page="/Events">Upcoming Events</a>
            </div>
        </div>

    </div>
}

else
{
    <div class="container d-flex justify-content-center align-content-center">
        <div class="card" style="width: 40rem;">
            <h1 class="text-center m-2">Welcome to Event Handler 3000</h1>
            <p class="text-center m-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur cum ratione tempore nostrum
                nisi repellendus dolorem reprehenderit sequi voluptate officiis sit nemo facilis quos porro
                placeat quo dolorum, doloribus impedit.
            </p>
            <div class="container d-flex justify-content-center">
                <a class="btn btn-outline-primary mx-2" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                <a class="btn btn-outline-secondary mx-2" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>

            </div>
        </div>

    </div>
}

