@page
@model AspEventGrupp.Pages.Organizer.AddEventModel

@{
    ViewData["Title"] = "AddEvent";
}

<h1>Add New Event</h1>

<hr />
<div class="row">
    <div class="col-md-4" style="margin:auto; margin-top:90px; background-color: #92929256;  border-radius: 15px;">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Event.Title" class="control-label"></label>
                <input asp-for="Event.Title" class="form-control" />
                <span asp-validation-for="Event.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Description" class="control-label"></label>
                <input asp-for="Event.Description" class="form-control" />
                <span asp-validation-for="Event.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Location" class="control-label"></label>
                <input asp-for="Event.Location" class="form-control" />
                <span asp-validation-for="Event.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Adress" class="control-label"></label>
                <input asp-for="Event.Adress" class="form-control" />
                <span asp-validation-for="Event.Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Date" class="control-label"></label>
                <input asp-for="Event.Date" class="form-control" />
                <span asp-validation-for="Event.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.SpotsLeft" class="control-label"></label>
                <input asp-for="Event.SpotsLeft" class="form-control" />
                <span asp-validation-for="Event.SpotsLeft" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-center">
                <input class="m-2 btn btn-primary align-self-center" type="submit" value="Save" />

        </form>
        <a class="m-2 btn btn-primary align-self-center" asp-page="Index">Back to List</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
